:root {
  --main-color: rgb(54, 54, 54);
}

.root {
  height: 100vh;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--main-color);
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
}

.header {
  height: 10%;
  min-height: 60px;
}

.main {

  display: flex;

  height: 90%;
}

/*
  flex-row can be used to make a div a flex container with row alignement
*/
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


/* 
  underlineItem can be used to make an expanding bottom line animation on hover
*/
.underlineItem {
  position: relative;
  display: inline-block;
}

.underlineItem::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

.underlineItem:hover::before {
  width: 100%;
}

/*
  popupItem can be used to make a popup animation on hover
*/
.popupItem {
  position: relative;
  left: 0px;
  bottom: 0px;
  transition: 0.3s ease;
}

.popupItem:hover {
  left: 1px;
  bottom: 0px;
  transform: scale(1.1);
}

/*
  spin can be used to make a spin animation
*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}